h1 Главная страница
= @users
br
  
- if user_signed_in?
  = link_to('новая статья', new_post_path)
- else
  = link_to('Вход', new_user_session_path)
br
= link_to('Регистрация', new_user_registration_path)